body {
    max-width: 720px;
    margin: 0 auto;
    padding-top: calc(env(safe-area-inset-top) + 1em);
    padding-bottom: calc(env(safe-area-inset-bottom) + 1em);
    padding-left: calc(env(safe-area-inset-left) + 1em);
    padding-right: calc(env(safe-area-inset-right) + 1em);
    box-sizing: border-box;
    font-family: sans-serif;
}

p {
    text-align: justify;
}

a {
    color: #ff8243;
}